@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    color: #666666;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin: 0 auto;
    /*overflow: hidden;*/
}

ul {
    list-style: none;
    margin-left: 20%;
}

li {
    font-size: 16px;
    padding-right: 5%;
    display: inline;
}

li a {
    text-decoration: none;
    color: #666666;
}

li a:hover {
    color: #404CCF;
}

.info {
    /* position: absolute; */
    background: #F0F0F0;
    width: 100%;
    text-align: center;
    border-top: 2px solid #c2c2c2;
}

.infoContent {
    /* background: #F0F0F0; */
}

.infoContent h2 {
    /* padding-top: 3%; */
    font-size: 48px;
    font-weight: normal;
}

.infoDescription p {
    font-size: 20px;
}

.infoButton {
    width: 40%;
    padding-top: 2vh;
    margin: 0 auto;
}

.mobileApp {
    width: 243.49px;
    height: 65px;
    left: 838px;
    /* top: 263px; */
    background-color: #404CCF;
    color: #FFFFFF;
    /* padding: .5em 2em; */
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    transition: 0.2s;
}

.mobileApp:hover {
    background-color: #323ca5;
}

.infoMenu {
    position: relative;
    font-size: 24px;
    /* width: 40%; */
    margin-top: 90px;
}

.infoMenuElements {
    /* width: 40%; */
    justify-content: center;
}

.infoMenu button {
    position: relative;
    /* text-align: center; */
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: normal;
    color: #666666;
    /* padding-left: 10%; */
    margin-left: 5%;
    margin-right: 5%;
    /* top: 57%; */
    /* margin: 0 auto; */
}

.infoMenu button:hover {
    color: #404CCF;
}

.infoMenuElements hr {
    position: relative;
    height: .15rem;
    /* width: 250px; */
    /* width: 25%; */
    width: 200px;
    /* margin-left: 43%; */
    /* padding-left: 20%; */
    /* float: left; */
    margin-left: 52%;
    margin-right: 5%;
    /* margin: 0 auto; */
    background: #404CCF;
    border: none;
    transition: .3s ease-in-out;
}

.infoMenu .active {
    color: #404CCF;
}

.generate {
    display: block;
    position: relative;
}

.generateForm {
    position: absolute;
    width: 250px;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: auto;
}

.generateForm select[name="generateObjectQR"] {
    width: 250px;
    padding: 5px;
    display: flex;
    border: none;
    border-bottom: 2px solid #f5f5f5;
    transition: 0.2s;
    margin-bottom: 20px;
}

.generateForm select[name="generateObjectQR"]:focus, .dataForm select[name="roomPerson"]:focus {
    outline: none;
    border: none;
}

.generateFormButton {
    color: #404CCF;
    background-color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: normal;
    transition: 0.2s;
    justify-content: left;
    padding: 0;
    margin-top: 10%;
    margin-bottom: 20%;
}

.generateFormButton:hover {
    color: #323ca5;
}

.generateAbout {
    position: absolute;
    margin-top: 80px;
    margin-left: 60%;
    margin-right: auto;
    margin-bottom: auto;
    line-height: 25px;
}

.generateAbout h3 {
    font-weight: normal;
}

.generateAbout p {
    width: 80%;
}

.inventory {
    display: none;
    position: relative;
}

.inventoryTable, .dataSmallTable {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
}

.dataLargeTable {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
}

.inventoryTableHeader, .dataTableHeader {
    background-color: #f5f5f5;
}

.inventoryTable th, .inventoryTable td, .dataTable th, .dataTable td {
    text-align: center;
    border-bottom: 2px solid #f5f5f5;
    padding: 10px 30px;
}

.generateFormButton:hover {
    color: #323ca5;
}

.homeFooter {
    width: 100%;
    margin-top: 350px;
}

.dataFooter {
    width: 100%;
    margin-top: 150px;
}

footer p {
    text-align: right;
    font-size: 12px;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Data pages */

.dataContent {
    padding-top: 100px;
    border-top: 2px solid #c2c2c2;
}

.dataSmallContainer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.dataLargeContainer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.dataLink {
    text-decoration: none;
    color: #404CCF;
}

.reveal-modal h2 {
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 2px solid #f5f5f5;
}

.dataForm input[name="roomLocation"], .dataForm input[name="roomNumberOfObjects"], .dataForm input[name="personName"],
.dataForm input[name="personSurname"], .dataForm input[name="personPersonalCode"], .dataForm input[name="personEmail"],
.dataForm input[name="personPhone"], .dataForm input[name="objectDescription"], .dataForm input[name="objectPrice"],
.dataForm input[name="objectDate"] {
    width: 250px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    border: none;
    border-bottom: 2px solid #e7eaed;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 20px;
}

.dataForm input[name="roomLocation"]:focus, .dataForm input[name="roomNumberOfObjects"]:focus,
.dataForm input[name="personName"]:focus, .dataForm input[name="personSurname"]:focus,
.dataForm input[name="personPersonalCode"]:focus, .dataForm input[name="personEmail"]:focus,
.dataForm input[name="personPhone"]:focus, .dataForm input[name="objectDescription"]:focus,
.dataForm input[name="objectPrice"]:focus, .dataForm input[name="objectDate"]:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #404CCF;
    color: #404CCF;
}

.dataForm select[name="roomPerson"], .dataForm select[name="objectRoom"] {
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    border: none;
    border-bottom: 2px solid #e7eaed;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 20px;
}

.dataForm select[name="roomPerson"]:focus, .dataForm select[name="objectRoom"]:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #e7eaed;
}

.dataFormButton {
    width: 250px;
    height: 40px;
    color: #FFFFFF;
    background-color: #404CCF;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: normal;
    justify-content: left;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}

.dataFormButton:hover {
    background-color: #323ca5;
}

.dataSmallLayer {
    overflow: auto;
    width: 1000px;
    height: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.dataLargeLayer {
    overflow: auto;
    width: 1300px;
    height: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#dataLayer::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

#dataLayer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c2c2c2;
}

#dataLayer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}