/* large screen */
@media only screen and (max-width: 1200px) {
    .infoMenuElements hr {
        margin-left: 35rem;
    }
}

/* laptop */
@media only screen and (max-width: 992px) {
    .infoMenuElements hr {
        margin-left: 35rem;
    }
}

/* tablet */
@media only screen and (max-width: 768px) {

}

/* mobile */
@media only screen and (max-width: 600px) {

}

@media print {

    header, .info, .generateForm, .printLink, .generateAbout {
        display: none;
    }

    .generateQR {
        margin-top: 0;
        margin-left: 0;
    }

    .qrCodeContent {
        display: block;
        border: none;
    }
}