@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    color: #333333;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin: 0 auto;
    /*overflow: hidden;*/
}

nav {
    background-color: #404CCF;
}

ul {
    list-style: none;
    margin-left: 20%;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5em;
}

li {
    display: inline;
}

li a {
    font-size: 16px;
    text-decoration: none;
    /*color: #666666;*/
    /*color: white;*/
    color: #e6e6e6;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 3vh;
    padding-bottom: 2vh;
}

.logo a {
    font-size: 20px;
    color: white;
    padding-right: 3rem;
    padding-left: 3rem;
}

li a:hover {
    color: white;
    background-color: #4653e0;
}

.logo a:hover {
    background-color: #404CCF;
}

.info {
    width: 100%;
    text-align: center;
    padding-top: 5rem;
    border: 1px solid #CCCCCC;
}

.infoContent {
    /* background: #F0F0F0; */
}

.infoContent h2 {
    font-size: 3rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.infoDescription p {
    font-size: 1.2rem;
}

.infoButton {
    width: 5rem;
    padding-top: 2vh;
    margin: 0 auto;
}

.infoMenu {
    position: relative;
    font-size: 24px;
    /* width: 40%; */
    margin-top: 5rem;
}

.infoMenuElements {
    justify-content: center;
    /*margin-right: 15rem;
    margin-left: 15rem;*/
}

.infoMenu button {
    position: relative;
    /* text-align: center; */
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: white;
    color: #666666;
    /* padding-left: 10%; */
    margin-left: 3rem;
    margin-right: 3rem;
    /* top: 57%; */
    /* margin: 0 auto; */
}

.infoMenu button:hover {
    color: #404CCF;
}

.infoMenuElements hr {
    position: relative;
    height: .10rem;
    /* width: 250px; */
    /* width: 25%; */
    width: 15rem;
    /* margin-left: 43%; */
    /* padding-left: 20%; */
    /* float: left; */
    margin-left: 47rem;
    margin-bottom: 0;
    /* margin: 0 auto; */
    background: #404CCF;
    border: none;
    transition: .3s ease-in-out;
}

.infoMenu .active {
    color: #404CCF;
}

.generate {
    display: block;
    position: relative;
}

.generateForm {
    position: absolute;
    width: 20rem;
    margin-top: 15vh;
    margin-left: 20rem;
    margin-right: auto;
    margin-bottom: auto;
}

.generateForm select[name="qrContent"] {
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    border: none;
    border-bottom: 2px solid #f5f5f5;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 20px;
}

.generateForm select[name="qrContent"]:focus  {
    outline: none;
    border: none;
    border-bottom: 2px solid #f5f5f5;
}

.generateFormButton {
    height: 2.5rem;
    width: 10rem;
    color: white;
    background-color: #404CCF;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: normal;
    transition: 0.2s;
    justify-content: left;
    padding: 0;
    margin-top: 10%;
    margin-bottom: 20%;
}

.generateFormButton:hover {
    background-color: #4653e0;
}

.generateContent a {
    position: absolute;
    font-size: 14px;
    margin-top: 34vh;
    margin-left: 40rem;
    margin-right: auto;
    margin-bottom: auto;
}

.generateQR {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #f5f5f5;
    background-image: url("qrcode.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10vh;
    margin-left: 40rem;
    margin-right: auto;
    margin-bottom: auto;
}

.qrCodeContent {
    border: 2px solid #f5f5f5;
}

.generateAbout {
    position: absolute;
    margin-top: 80px;
    margin-left: 60%;
    margin-right: auto;
    margin-bottom: auto;
    line-height: 25px;
}

.generateAbout h3 {
    font-weight: normal;
}

.generateAbout p {
    width: 80%;
}

.inventory {
    display: none;
    position: relative;
    padding-top: 100px;
}

.inventoryTable, .dataSmallTable {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
}

.dataLargeTable {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
}

.inventoryTableHeader, .dataTableHeader {
    background-color: #f5f5f5;
}

.inventoryTable th, .inventoryTable td, .dataTable th, .dataTable td {
    text-align: center;
    border-bottom: 2px solid #f5f5f5;
    padding: 10px 30px;
}

.dataTable .dataEdit {
    text-align: left;
    border-bottom: none;
    padding: 0;
    padding-left: 20px;
}

.dataTable .dataDelete {
    text-align: left;
    border-bottom: none;
    padding: 0;
    padding-left: 10px;
}

.dataDeleteButton {
    width: 200px;
    height: 40px;
    color: #FFFFFF;
    background-color: #404CCF;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: normal;
    justify-content: left;
    padding: 0;
    margin-top: 2%;
}

.dataDeleteButton:hover {
    cursor: pointer;
}

.dataContent {
    padding-top: 100px;
}

.dataSmallContainer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.dataSmallTotal p {
    display: flex;
    margin-left: 39rem;
    margin-bottom: 0;
    font-size: 14px;
}

.dataSmallContainer a, .dataLargeContainer a {
    display: flex;
    margin-right: 5.2rem;
    font-size: 14px;
}

.dataLargeContainer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.dataLargeTotal p {
    display: flex;
    margin-left: 57.5rem;
    margin-bottom: 0;
    font-size: 14px;
}

.dataLink {
    text-decoration: none;
    color: #0000ee;
}

.reveal-modal h2 {
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 2px solid #f5f5f5;
}

.dataForm input[name="roomLocation"], .dataForm input[name="roomNumberOfObjects"], .dataForm input[name="personName"],
.dataForm input[name="personSurname"], .dataForm input[name="personPersonalCode"], .dataForm input[name="personEmail"],
.dataForm input[name="personPhone"], .dataForm input[name="objectDescription"], .dataForm input[name="objectPrice"],
.dataForm input[name="objectDate"] {
    width: 250px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    border: none;
    border-bottom: 2px solid #e7eaed;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 20px;
}

.dataForm input[name="roomLocation"]:focus, .dataForm input[name="roomNumberOfObjects"]:focus,
.dataForm input[name="personName"]:focus, .dataForm input[name="personSurname"]:focus,
.dataForm input[name="personPersonalCode"]:focus, .dataForm input[name="personEmail"]:focus,
.dataForm input[name="personPhone"]:focus, .dataForm input[name="objectDescription"]:focus,
.dataForm input[name="objectPrice"]:focus, .dataForm input[name="objectDate"]:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #404CCF;
    color: #404CCF;
}

.dataForm select[name="roomPerson"], .dataForm select[name="objectRoom"] {
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    border: none;
    border-bottom: 2px solid #e7eaed;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 20px;
}

.dataForm select[name="roomPerson"]:focus, .dataForm select[name="objectRoom"]:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #e7eaed;
}

.dataFormButton {
    width: 250px;
    height: 40px;
    color: #FFFFFF;
    background-color: #404CCF;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: normal;
    justify-content: left;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}

.dataFormButton:hover {
    background-color: #4653e0;
}

.dataSmallLayer {
    overflow: auto;
    width: 1000px;
    height: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.dataLargeLayer {
    overflow: auto;
    width: 1300px;
    height: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#dataLayer::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

#dataLayer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c2c2c2;
}

#dataLayer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}