<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reveal/reveal.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="reveal/jquery.reveal.js"></script>
    <script src="script.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
    <article>
        <section>
            <div class="info">
                <div class="infoContent">
                    <h2>Generate & Print</h2>
                    <div class="infoDescription">
                        <p>Create and print a QR-code to make an inventory of available devices, view the inventory and manage their status.</p>
                    </div>
                    <div class="infoButton">
                        <button class="mobileApp"><i class="fa fa-download"></i>Mobile App</button>
                    </div>
                    <div class="infoMenu" id="infoMenu">
                        <div class="infoMenuElements">
                            <button class="menuButton inventoryButton" onclick="toggleInventory()">Inventory</button>
                            <button class="menuButton generateButton active" onclick="toggleGenerate()">Generate QR code</button>
                            <hr id="hrInfo"/>
                        </div>
                    </div>
                    <script src="menu.js"></script>
                </div>
            </div>
        </section>
    </article>
    <div class="generate" id="generate">
        <form action="/home" class="generateForm">
            <label for="generateDate">Date</label>
            <input type="date" name="date" id="generateDate" value="2022-01-16">
            <label for="generateDescription">Description</label>
            <input type="text" name="description" id="generateDescription">
            <label for="generatePrice">Price</label>
            <input type="number" name="price" id="generatePrice">
            <!-- здесь сделать выпадающий список из базы данных -->
            <label for="generateLocation">Location</label>
            <input type="text" name="location" id="generateLocation">
            <button type="sumbit" class="generateFormButton">Generate</button>
        </form>
        <div class="generateAbout">
            <article>
                <section>
                    <h3>About inventory</h3>
                    <p>A unique identifier is assigned to the created QR code, which
                        is later used to check the presence of the object. While scanning
                        the QR code the fields presented for filling, which cannot be changed,
                        but can be deleted from the database, are determined.
                    </p>
                </section>
            </article>
        </div>
    </div>
    <div class="inventory" id="inventory">
        <table class="inventoryTable">
            <tr class="inventoryTableHeader">
                <th>ID</th>
                <th>Result</th>
                <th>Date</th>
            </tr>
            <tr th:each="el : ${inventories}">
                <td th:text="${el.ID}"></td>
                <td th:text="${el.result}"></td>
                <td th:text="${el.date}"></td>
            </tr>
        </table>
        <a href="#" class="big-link" data-reveal-id="myModal" data-animation="none">Add</a>
        <div class="reveal-modal" id="myModal">
            <h2>Add Inventory</h2>
            <form action="/home" method="post" class="inventoryForm">
                <label for="inventoryResult">Result</label>
                <input type="text" name="result" id="inventoryResult">
                <label for="inventoryDate">Date</label>
                <input type="date" name="date" id="inventoryDate">
                <button type="submit" class="inventoryFormButton">Add inventory</button>
            </form>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
</main>
<footer id="foot" th:insert="blocks/footer :: footer"></footer>
</body>
</html>