<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
    <article>
        <section>
            <div class="info">
                <div class="infoContent">
                    <h2>Generate & Print</h2>
                    <div class="infoDescription">
                        <p>Create and print a QR-code to make an inventory of available devices, view the inventory and manage their status.</p>
                    </div>
                    <div class="infoMenu" id="infoMenu">
                        <div class="infoMenuElements">
                            <button class="menuButton inventoryButton" onclick="toggleInventory()">Inventory</button>
                            <button class="menuButton generateButton active" onclick="toggleGenerate()">Generate</button>
                            <hr id="hrInfo"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
    <div class="generate" id="generate">
        <form action="/home" class="generateForm">
            <label for="generateObjectQR">Object</label>
            <select name="generateObjectQR" id="generateObjectQR">
                <option th:each="ob : ${objects}" th:text="${ob.description}" th:value="${ob.id_object}"></option>
            </select>
            <button type="sumbit" class="generateFormButton">Generate</button>
        </form>
        <!--тут сделать генерацию QR-кода
        <div>
            <a href="javascript:(print());">Print</a>
        </div>-->
        <div class="generateAbout">
            <article>
                <section>
                    <h3>How do QR codes work?</h3>
                    <p>QR codes contain information about objects stored in the database. This information
                        is read during scanning and is used to account for the objects in the inventory.
                    </p>
                </section>
            </article>
        </div>
    </div>
    <div class="inventory" id="inventory">
        <table class="inventoryTable">
            <tr class="inventoryTableHeader">
                <th>ID</th>
                <th>Room</th>
                <th>Result</th>
                <th>Date</th>
            </tr>
            <tr th:each="el : ${inventories}">
                <td th:text="${el.id_inventory}"></td>
                <td th:text="${el.room.getLocation_of_room()}"></td>
                <td th:text="${el.result}"></td>
                <td th:text="${el.date}"></td>
            </tr>
        </table>
    </div>
</main>
<footer id="foot"></footer>
</body>

<script src="script.js"></script>

</html>