<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Persons</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="reveal/reveal.css" type="text/css">
    <link rel="stylesheet" href="media.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <script src="http://code.jquery.com/jquery-1.6.min.js" type="text/javascript"></script>
    <script src="reveal/jquery.reveal.js" type="text/javascript"></script>
    <script src="script.js" type="text/javascript"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
    <div class="dataContent">
        <div class="dataLargeContainer">
            <a th:href="'/persons/add'" class="big-link dataLink" data-reveal-id="myModal" data-animation="fade"><i class="fa fa-plus"></i></a>
        </div>
        <div class="reveal-modal" id="myModal">
            <h2>Add Person</h2>
            <form action="/persons/add" method="post" name="personForm" id="personForm" class="dataForm">
                <label for="personName">Name</label>
                <input type="text" name="personName" id="personName" required>
                <label for="personSurname">Surname</label>
                <input type="text" name="personSurname" id="personSurname" required>
                <label for="personPersonalCode">Personal code</label>
                <input type="text" name="personPersonalCode" id="personPersonalCode" required>
                <label for="personEmail">E-mail</label>
                <input type="email" name="personEmail" id="personEmail" required>
                <label for="personPhone">Phone</label>
                <input type="tel" name="personPhone" id="personPhone" required>
                <button type="submit" name="personAdd" class="dataFormButton">Add</button>
            </form>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <div class="dataLargeLayer" id="dataLayer">
            <table class="dataTable dataLargeTable">
                <tr class="dataTableHeader">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Personal code</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                </tr>
                <tr th:each="el : ${persons}">
                    <td th:text="${el.id_person}"></td>
                    <td th:text="${el.name}"></td>
                    <td th:text="${el.surname}"></td>
                    <td th:text="${el.personal_code}"></td>
                    <td th:text="${el.email}"></td>
                    <td th:text="${el.phone}"></td>
                    <td class="dataEdit">
                        <a th:href="'/persons/' + ${el.id_person} + '/edit'" class="big-link dataLink" th:data-reveal-id="'modalEdit' + ${el.id_person}" data-animation="fade"><i class="dataLink fa fa-edit"></i></a>
                        <div class="reveal-modal" th:id="'modalEdit' + ${el.id_person}">
                            <form th:action="'/persons/' + ${el.id_person} + '/edit'" method="post" class="dataForm">
                                <h2 th:text="'Edit Person' + ' #' + ${el.id_person}"></h2>
                                <label for="personNameEdit">Location</label>
                                <input type="text" name="personName" id="personNameEdit" th:value="${el.name}" required>
                                <label for="personSurnameEdit">Number of objects</label>
                                <input type="text" name="personSurname" id="personSurnameEdit" th:value="${el.surname}" required>
                                <label for="personPersonalCodeEdit">Person</label>
                                <input type="text" name="personPersonalCode" id="personPersonalCodeEdit" th:value="${el.personal_code}" required>
                                <label for="personEmailEdit">E-mail</label>
                                <input type="email" name="personEmail" id="personEmailEdit" th:value="${el.email}" required>
                                <label for="personPhoneEdit">Phone</label>
                                <input type="tel" name="personPhone" id="personPhoneEdit" th:value="${el.phone}" required>
                                <button type="submit" name="personEdit" class="dataFormButton">Edit</button>
                            </form>
                            <a class="close-reveal-modal">&#215;</a>
                        </div>
                    </td>
                    <td class="dataDelete">
                        <a th:href="'/persons/' + ${el.id_person} + '/delete'" class="big-link dataLink" th:data-reveal-id="'modalDelete' + ${el.id_person}" data-animation="none"><i class="dataLink fa fa-trash-o"></i></a>
                        <div class="reveal-modal" th:id="'modalDelete' + ${el.id_person}">
                            <form th:action="'/persons/' + ${el.id_person} + '/delete'" method="post">
                                <p>Are you sure you want to delete this instance?</p>
                                <button type="submit" name="personDelete" class="dataDeleteButton">Delete</button>
                            </form>
                            <a class="close-reveal-modal">&#215;</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
<footer></footer>
</body>
</html>