<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Rooms</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reveal/reveal.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="reveal/jquery.reveal.js"></script>
    <script src="script.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
    <div class="dataContent">
        <div class="dataSmallContainer">
            <a href="#" class="big-link dataLink" data-reveal-id="myModal" data-animation="fade"><i class="fa fa-plus"></i></a>
        </div>
        <div class="reveal-modal" id="myModal">
            <h2>Add Room</h2>
            <form action="/rooms" method="post" name="roomForm" id="roomForm" class="dataForm">
                <label for="roomLocation">Location</label>
                <input type="text" name="roomLocation" id="roomLocation" required>
                <label for="roomNumberOfObjects">Number of objects</label>
                <input type="text" name="roomNumberOfObjects" id="roomNumberOfObjects" required>
                <label for="roomPerson">Person</label>
                <select name="roomPerson" id="roomPerson" required>
                    <option th:each="ps: ${persons}" th:text="${ps.name} + ' ' + ${ps.surname}" th:value="${ps.id_person}"></option>
                </select>
                <button type="submit" class="dataFormButton">Add</button>
            </form>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <div class="dataSmallLayer" id="dataLayer">
            <table class="dataTable dataSmallTable">
                <tr class="dataTableHeader">
                    <th>ID</th>
                    <th>Location</th>
                    <th>Number of objects</th>
                    <th>Responsible person</th>
                </tr>
                <tr th:each="el : ${rooms}">
                    <td th:text="${el.id_room}"></td>
                    <td th:text="${el.location_of_room}"></td>
                    <td th:text="${el.number_of_objects}"></td>
                    <td th:text="${el.person.getName()} + ' ' + ${el.person.getSurname()}"></td>
                </tr>
            </table>
        </div>
    </div>
</main>
<footer class="dataFooter" th:insert="blocks/footer :: footer"></footer>
</body>
</html>